<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
		
	<springProfile name="development">
		<property name="LOG_PATH" value="./logs/development" />
    	<property name="LOG_ARCHIVE" value="${LOG_PATH}/archive" />
		<property name="LOG_LEVEL" value="debug" />
	</springProfile>
		
	<springProfile name="staging">
		<property name="LOG_PATH" value="./logs/staging" />
    	<property name="LOG_ARCHIVE" value="${LOG_PATH}/archive" />
		<property name="LOG_LEVEL" value="debug" />
	</springProfile>

	<springProfile name="production">
		<property name="LOG_PATH" value="./logs/production" />
    	<property name="LOG_ARCHIVE" value="${LOG_PATH}/archive" />
		<property name="LOG_LEVEL" value="debug" />
	</springProfile>
	
	<appender name="Request-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/request.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/request.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d		%msg%n</pattern>
        </encoder>
    </appender>
	<appender name="Response-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/response.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/response.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d		%msg%n</pattern>
        </encoder>
    </appender>
	<appender name="Request-Persistence-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/request_persistence_errors.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/request_persistence_errors.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
	<appender name="Response-Persistence-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/response_persistence_errors.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/response_persistance_errors.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
	<appender name="Application-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%thread] %logger{0}:  %msg%n</pattern>
        </encoder>
    </appender>

	<appender name="Netty-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/netty.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/netty.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%thread] %logger{0}:  %msg%n</pattern>
        </encoder>
    </appender>

 	<appender name="Request" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="Request-Appender" />
    </appender>
 	<appender name="Response" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="Response-Appender" />
    </appender>
 	<appender name="Request-Persistence" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="Request-Persistence-Appender" />
    </appender>
 	<appender name="Response-Persistence" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="Response-Persistence-Appender" />
    </appender>
 	<appender name="Application" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="Application-Appender" />
    </appender>
		<appender name="Netty" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="Netty-Appender" />
    </appender>
	
	
	<logger name="Request-Logger" level="${LOG_LEVEL}" additivity="false">
		<appender-ref ref="Request"/>
	</logger>
	
	<logger name="Response-Logger" level="${LOG_LEVEL}" additivity="false">
		<appender-ref ref="Response"/>
	</logger>
	
	<logger name="Request-Persistence-Logger" level="${LOG_LEVEL}" additivity="false">
		<appender-ref ref="Request-Persistence"/>
	</logger>
	
	<logger name="Response-Persistence-Logger" level="${LOG_LEVEL}" additivity="false">
		<appender-ref ref="Response-Persistence"/>
	</logger>
	
	<logger name="com.bvd.paymentswitch" level="${LOG_LEVEL}" additivity="false">
		<appender-ref ref="Application"/>
		<springProfile name="development"><appender-ref ref="CONSOLE"/></springProfile>
	</logger>
	
 	<logger name="io.netty" level="${LOG_LEVEL}" additivity="false">
		<appender-ref ref="Netty"/>
		<springProfile name="development" ><appender-ref ref="CONSOLE"/></springProfile>
	</logger>
	
	<logger name="java.nio" level="${LOG_LEVEL}" additivity="false">
		<appender-ref ref="Netty"/>
		<springProfile name="development"><appender-ref ref="CONSOLE"/></springProfile>
	</logger>	
<!-- 
 	<root level="${LOG_LEVEL}">
 		<appender-ref ref="Netty"/>
		<appender-ref ref="CONSOLE"/>
	</root>
 -->
</configuration>